html{
    height: 100%; 
} 
body
{
    background-color: white;
    /* background: -webkit-linear-gradient(to right, #155799, #159957); 
    background: linear-gradient(to right, #155799, #159957);  */
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    /* color: white; */
}
#contact
{
    color: white;
    margin-right: 50px;
}
.container{
    /* border: solid 2px gray; */
    /* display: inline-block; */
    display: flex;
    padding: 10px;
    margin-top: 10px ;
}

.info
{
   
    margin-left: 30px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.responsive{
    
    margin-left: 30px;
    /* align-items:end; */
    max-width: 100%;
    height: auto;
}


.responsive > h3{
    
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.responsive > h4{
    
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
} 

#name{
    font-style: italic;
}

#work{
    font-size: 20px;
    /* margin-left: 30px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    word-spacing: 3px;
}


.info > a
{
    margin-top: 10px;
    margin-left: 80px;
    border-radius:20px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.social
{
    margin-top: 60px;
    margin-left: 50px;
}

.social >a
{
    margin-left: 20px;
}

.projects>h3
{
    font-family: 'Times New Roman';
    font-size: 23px;
    margin-top: 10px;
    margin-left: 20px;
}

.footer1 {
    
    position: relative;
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: rgb(30, 32, 32);
    color: white;
   
    bottom: 0px;
}


footer {
    
    position: relative;
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: rgb(30, 32, 32);
    color: white;
   
    margin-top: 30px;
}

.foot
{
    margin-left: 20px;
    margin-right: 10px;
    color: white;
}


/* Contact */

.contact_info
{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    justify-content: space-around;
}

/* Query Form */

.query-form
{
    text-align: center;
    background-color: rgb(54, 51, 51);
    width: 50%;
    margin: auto;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 30px;
    font-family: 'Times New Roman';
    color: white;
    
}

#send_que
{
    text-align: center;
}

#submit_msg{
    color: greenyellow;
}



/* Blog Style */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left:35px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .collapsible:hover {
    background-color: #101312;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 10px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;

    
  }